<section class="row align-items-center l__topics__section mt-d mb-l">
<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-12">
      <a href="https://www.bmbf.de/"><img src="/files/logos/bmbf.png" height="120" /></a>
    </div>
    <div class="col-md-2 col-sm-12">
      <a href="https://gi.de/"><img src="/files/logos/gi-small.png" height="140" /></a>
    </div>
    <div class="col-md-2 col-sm-12">
      <a href="https://okfn.de"><img src="/files/logos/okf-small.png" height="120" /></a>
    </div>
    <div class="col-md-2 col-sm-12">
      <a href="https://vernetzung-und-gesellschaft.de/"><img  src="/files/logos/weizenbaum_new.png" height="120" /></a>
    </div>
    <div class="col-md-2 col-sm-12">
      <a href="https://www.wissenschaftsjahr.de/"><img src="/files/icons/wj.svg" height="120" /></a>
    </div>
</div>
</section>
