{{ define "title"}}
<title>Turing-Bus - Ein Projekt von Open Knowledge Foundation Deutschland e.V. und Gesellschaft für Informatik e.V.</title>
{{ end }}

{{ define "head" }}
<meta property="og:title" content="Turing-Bus" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://turing-bus.de" />
{{ with .Params.img_header }}<meta property="og:image" content="{{ . }}" />{{ end }}
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}

{{ define "main" }}

<main>

<!--{{ partial "hero-banner.html" (dict "background" .Params.img "heading" .Params.bannerHeading "subheading" .Params.bannersubHeading "content" .)}}-->

  {{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}


  <div class="container">

    <div class="l__topics">


        <section class="row align-items-center l__topics__section mt-d mb-l">
          <div class="col col-12 col-md-6 order-2 order-md-1">
            <h3 class="h3">Wissenschaftsjahr 2019</h3>
            <p>{{.Summary}}</p>
          </div>
          <div class="col col-12 col-md-6 order-1 order-md-2">
            <img src="{{ .Params.img }}" alt="Logo {{.Title}}">
          </div>
        </section>
      </a>
    </div>
  </div>
</main>



  {{ partial "parallax.html" (dict "background" .Params.parallax1  )}}


  <div class="container">

    <div class="l__topics">


        <section class="row align-items-center l__topics__section mt-d mb-l">
          <div class="col col-12 col-md-6 order-2 order-md-1">
            <h3 class="h3">Jetzt mitmachen!</h3>
            <p>{{ .Params.mitmachen }}</p>
            <p><b><a href="/module">→ Hier entlang</a></b>
          </div>
          <div class="col col-12 col-md-6 order-1 order-md-2">
            <img src="{{ .Params.mitmachenimg }}" alt="Logo {{.Title}}">
          </div>
        </section>
      </a>
    </div>
  </div>
</main>


  <section class="container mt-l mb-l">
    <div class="row justify-between">
      <div class="col col-10 mb-s">
        <h2>{{ i18n "home_blog_news" }}</h2>
      </div>
      {{- partial "featured_post.html" . -}}

      <ul class="l__blog__posts container mt-s">
        {{ range first 4 ( sort (where (where $.Site.AllPages "Section" "blog") "Kind" "page")) }}
        {{- partial "post_item.html" . -}}
        {{ end }}
      </ul>
    </div>

    <div class="mt-s">
      <p>{{ with .Site.GetPage "/blog" }}
        <a href="{{ .Permalink }}" class="linked">
          {{ i18n "home_all_posts" }} {{ readFile "static/files/icons/arrow_right.svg" | safeHTML }}</a>{{ end }}</p>
    </div>
</div>
  </section>




</main>
{{ end }}
